@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: rgb(181, 181, 181);
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
