@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(144, 59, 218, 0.368);
}

.loader {
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blob {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(239, 68, 68);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/* CSS */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  flex-direction: row;
  flex-shrink: 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 65px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 10;
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: #924aff5e;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #8b26ff 0, #6f13f9 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: rgb(235, 235, 235);
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(82, 82, 82, 0.2),
      rgba(98, 98, 98, 0.2)
    ),
    linear-gradient(92.83deg, #8b26ff 0, #6f13f9 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}

.tooltip {
  position: relative;
  border-radius: 100%;
}

.tooltiptext {
  visibility: hidden;
  /* background-color: rgb(53, 53, 53); */
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(33, 33, 33);
  position: absolute;
  z-index: 1;
  padding: 0 7px;
  margin-left: -60px;
}

.Faucetpositioning {
  top: 120%;
  left: 80%;
}

.bonuspositioning {
  top: 120%;
  left: 0%;
}

.disconnetpositioning {
  top: 120%;
  left: 25%;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 65%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(33, 33, 33) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
